<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <img src="./images/logo-mercado-liebre.svg" alt="">

    </header>
    <main>

    </main>

    <footer>

    </footer>


    <h4>Esto es un h4</h4>

    <h1>El titulo de nuestro documento</h1>
    
    <h2>Un subtítulo cualquiera</h2>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam aut magni minima, deserunt nulla dolores repellendus facere ipsum? Sapiente expedita provident quo eligendi saepe fuga illo commodi nisi earum distinctio!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus recusandae numquam odit ipsum voluptates, ipsam eveniet a sit id eaque neque, similique accusantium provident laudantium quisquam quas eos! Harum, impedit?</p>


 
</body>
</html>