<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/04c0f19e04.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="hero">
        <div class="hero-menu-bar-fees contenedor" >
        <img width="230px" src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <div>
            <form action="home.html" method="POST">
            <label></label>
            <input type="search" name="search" placeholder="Buscar productos, marcas">
            <button class="hero-search__submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <h2>
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de crédito
        </h2>
        </div>
        <div>
        <nav class="hero-menu-wrap contenedor">
            <ul class="hero-menu">
                <li><a href="#" class="menu">Ofertas</a></li>
                <li><a href="#" class="menu">Tiendas Oficiales</a></li>
                <li><a href="#" class="menu">Vender</a></li>
                <li><a href="#" class="menu">Ayuda</a></li>
            </ul>
            <ul class="hero-menu">
                <li><a href="#"class="menu-icon">Crea tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="#"class="menu-icon">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#"class="menu-icon">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

    </header>
    <main>
        <section>
            <img width="100%" src="/images/img-home-banner.jpg" alt="banner mercadopago">
        </section>
        <section>
            <h2>Basado en su última visita</h2>
            <div class="product-last-views">

            <article class="product-main">
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen producto">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discounts">40% OFF</p>
                </div>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </article>
            <article class="product-main">
                <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="imagen producto">
            <div>
                <i class="fas fa-truck"></i>
                <p class="price">$230.000</p>
                <p class="discounts">20% OFF</p>
            </div>
            <h3 class="descripcion">Macbook Pro 2019</h3>
            </article>
            <article class="product-main">
                <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen producto">
             <div>
                <i class="fas fa-truck"></i>
                <p class="price">$70.500</p>
                <p class="discounts">10% OFF</p>
             </div>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </article>
            <article class="product-main">
                <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="imagen producto">
            <div>
                <i class="fas fa-truck"></i>
                <p class="price">$23.200</p>
                <p class="discounts">5% OFF</p>
            </div>
                <h3 class="descripcion">SmartTv Samsung 43"</h3>
            </article>
            </div>
        </section>
        <section>
            <h2>Seccion de Ofertas</h2>
            <div class="product-main">
                <article>
                <img width="360" src="/images/img-cafetera-moulinex.jpg" alt="imagen producto">
            <div>
                <i class="fas fa-truck"></i>
                <p class="price">$6.770</p>
                <p class="discounts">40% OFF</p>
            </div>
            <h3 class="descripcion">Cafetera Moulinex</h3>
        </article>
        <article>
            <img width="360" src="/images/img-macbook-pro-2019.jpg" alt="imagen producto">
        <div>
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discounts">20% OFF</p>
        </div>
        <h3 class="descripcion">Macbook Pro 2019</h3>
        </article>
        <article>
                <img width="360" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen producto">
           <div>
                <i class="fas fa-truck"></i>
                <p class="price">$70.500</p>
                <p class="discounts">10% OFF</p>
            </div>
            <h3 class="descripcion">Samsung Galaxy S10</h3>
        </article>
        <article>
            <img width="360" src="/images/img-tv-samsung-smart.jpg" alt="imagen producto">
        <div>
            <i class="fas fa-truck"></i>
            <p class="price">$23.200</p>
            <p class="discounts">5% OFF</p>
        </div>
            <h3 class="descripcion">SmartTv Samsung 43"</h3>
        </article>
        </div>
        </section>
    </main>

    <!--Formularios-->
    <form action='/crear productos' method="POST">
        <div>
            <label>Nombre del producto:</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label>Precio:</label>
            <input type="text" name="precio">
        </div>
        <div>
            <label>Descripción</label>
            <textarea name="descripcion"></textarea>
        </div>
        <div>
            <label>Esta en oferta:</label>
            <input type="" name="en oferta">
        </div>
        <div>
            <label>Categoria</label>
            <select name="Categoria">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <button type="reset">Borrar</button>
        <button type="submit">Guardar</button>
    </form>

    <footer>
            <section class="text-footer">
            <div class="ico-footer" >
            <i class="fas fa-credit-card"></i>
            </div>
            <div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>
                    <span>Con Mercado Liebre Cash, tenés cuotas sin 
                interés con tarjeta o efectivo en
                puntos de pago. 
                ¡Y siempre es seguro!
                        </span>
                </p>
            </div>
                <div class="ico-footer">
                    <i class="fas fa-gift"></i>
                </div>
            <div>
                <h2>Envío gratis desde $2500</h2>
                <p>
                    <span>Por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                        </span>
                </p>
            </div>
                <div class="ico-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
            <div>
            <h2>Seguridad, de principio a fin</h2>
                <p>
                    <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                        </span>
                </p>
            </div>
            <div>
                <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </div>
            </section>
    </footer>
</body>
</html>