<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <img src="./images/logo-mercado-liebre.svg" alt="">
        
        <h1>Lugar para poner la barra de búsqueda</h1>
        
        <h2>Compra en cuotas y sin tarjeta de crédito</h2>

        <nav>
        <ul type="disc">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul type="disc">
            <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
        </nav>

    </header>
    <main>

    </main>

    <footer>

    </footer>

    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam aut magni minima, deserunt nulla dolores repellendus facere ipsum? Sapiente expedita provident quo eligendi saepe fuga illo commodi nisi earum distinctio!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus recusandae numquam odit ipsum voluptates, ipsam eveniet a sit id eaque neque, similique accusantium provident laudantium quisquam quas eos! Harum, impedit?</p>


 
</body>
</html>