<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/04c0f19e04.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link href="/css/normalize.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="logo mercado liebre">
            <div>
                <form action="home.html" method="POST">
                <input class="main-search" type="search" name="search" placeholder="Buscar productos, marcas">
                <button class="hero-search-submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h4 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de crédito
            </h4>
        </div>
            <a href="#" class="hamburguer-buttom">
                <i class="fas fa-bars"></i>
            </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#" class="menu">Ofertas</a></li>
                <li><a href="#" class="menu">Tiendas Oficiales</a></li>
                <li><a href="#" class="menu">Vender</a></li>
                <li><a href="#" class="menu">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#"class="menu-icon">Crea tu cuenta <i class="far fa-address-card"></i></a></i></li>
                <li><a href="#"class="menu-icon">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#"class="menu-icon">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
            
        </div>
    </header>
    <!--Formularios login-->
    <form action="login.html" method="POST">
        <div class="form-login">
            <div>
                <label for="Nombre"><i class="fas fa-user"></i></label>
                <input class="form-input" type="text" maxlength="25" placeholder="Nombre de Usuario" name="nombre" id="nombre" required>
            </div>
            <div>
                <label for="password"> <i class="fas fa-unlock-alt"></i> </label>
                <input class="form-input" type="password" maxlength="15" placeholder="Contraseña" name="clave" id="password" required>
            </div>
            <div>
                <button class="form-button-submit" type="submit">Ingresar</button>
            </div>
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
            </form>
        </div>

        <footer>
            <section class="text-footer">
            <div class="ico-footer" >
            <i class="fas fa-credit-card"></i>
            </div>
            <div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>
                    <span>Con Mercado Liebre Cash, tenés cuotas sin 
                interés con tarjeta o efectivo en
                puntos de pago. 
                ¡Y siempre es seguro!
                        </span>
                </p>
            </div>
                <div class="ico-footer">
                    <i class="fas fa-gift"></i>
                </div>
            <div>
                <h2>Envío gratis desde $2500</h2>
                <p>
                    <span>Por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                        </span>
                </p>
            </div>
                <div class="ico-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
            <div>
            <h2>Seguridad, de principio a fin</h2>
                <p>
                    <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                        </span>
                </p>
            </div>
            <div>
                <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </div>
            </section>
    </footer>
    
</body>
</html>