*{
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto';
}

.hero{
    background-color: #EAC926;
}

h1{

    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 20px;
}

.menu{
    padding-right: 10px;
    text-decoration: none;
}