/*
Colors: Amarillo: #EAC926; Azul: #03264C; Celeste: #1259c3; Gris oscuro: #666; Gris claro: #ebebeb; Verde: #39b54a;
Font size: Cuerpos de texto: 12px | Titulares: 24px | Precios: 18px | Descuentos: 16px | Descripciones: 16px
*/
* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666;
    background-color: #ebebeb;
}

h1{
    font-size: 24px;
    font-weight: bold;
}

h2{
    font-size: 24px;
}

.contenedor{
    width: 90vw;
    margin: auto;
    max-width: 459px;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
}

.main-header-top-bar {
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
    padding-top: 25px;
} 

.hamburguer-buttom {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.hero-search-submit{
    margin: 0px;
    color: #666;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.color-main {
    background-color: #ebebeb ;
}

.product-last-views{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    width: 90%;
}

.product-main {
    width: 100%;
    background-color: #fff;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.product-img {
    width: 100%;
}

.product-des {
    display: flex;
    border-top: solid 1px #ebebeb;
    margin: 15px;
	justify-content: space-between;
	align-content: center;
}

.price{
    font-size: 18px;
}

.discounts{
    font-size: 16px;
    color: #39b54a;
    font-weight: bold;
}

.description {
    display: none;
    font-size: 16px;
}


.menu-icon{
    margin-right: 10px;
    text-decoration: none;
}
.menu{
    text-decoration: none;
    color: #666;
}

.text-footer {
    justify-content:left; 
    text-align: center;
}

.ico-footer {
    font-size: 2em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**formularios login**/

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    width: 400px;
    height: 250px;
    background: #fff;
    margin: auto;
    margin-top: 50px;
    box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 15%);
    padding: 20px 30px;
    border-top: 4px solid #EAC926;
    margin-bottom: 15px;
}

.form-input{
    font-weight: 300;
    padding: 5px 10px;
    margin: 10px 0;
    width: 300px;
}

.form-button-submit {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #EAC926;
    margin-bottom: 15px;
}

.form-login p {
    text-align: center;
}

.form-login a {
    color: #666666;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}
/**formularios Fin**/

/**formulario register**/

.form-register {
padding: 20px 15px;
}

.control-formulario {
    margin-bottom: 15px;
}

.control-formulario label {
    font-style: normal;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.control {
    width: 100%;
    padding: 5px;
}


@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-buttom {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 2px;
    }
}

@media (min-width: 1100px) {
    .logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1100px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar{
        margin-top: 30px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
}
